html, body
	height 100%
	
body
	margin 0

header
	height 56px
	
main 
	position absolute
	top 50px
	bottom 50px
	width 100%
	overflow auto
	
.content-container
	display table
	height 100%
	width 100%

.content
	display table-cell
	height 100%
	width 100%
	vertical-align middle

.large-icon
	font-size: 48px
	height: 48px
	width: 48px