<div flex layout="row">
    <md-sidenav flex md-is-locked-open="true" md-component-id="left" class="md-whiteframe-2dp">
        
        <friendlist user="vm.user" handle-update="vm.updateUser()"></friendlist>

    </md-sidenav>
    <md-content flex id="content" layout="column" layout-padding>
        <h2>{{vm.user.name || vm.user.email}}</h2>

				<taskinput flex user="vm.user" handle-update="vm.updateUser()"></taskinput>

        <tasklist user="vm.user" handle-update="vm.updateUser()"></tasklist>
        
    </md-content>
</div>
