<div flex="80" layout="column" layout-padding>
    <div layout="row" layout-align="space-around">
        <md-input-container flex>
            <label>Task Name</label>
            <input ng-model="vm.task.name" type="text">
        </md-input-container>
    </div>
    <div ng-show="vm.task.name.length" layout="column" class="fx-zoom-normal fx-speed-500">
        <md-input-container flex>
            <label>Task Description</label>
            <input ng-model="vm.task.description" type="text">
        </md-input-container>
        <div layout="row" layout-align="center">
            <md-datepicker ng-model="vm.task.dueDate"></md-datepicker>
        </div>
        <div layout="row" layout-align="center" layout-margin>
            <md-button flex="60" ng-click="vm.onSubmit()" class="md-accent md-raised">Add a Goal</md-button>
        </div>
        <md-divider></md-divider>
    </div>
</div>
